# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
venv/
.venv/

# Logs & Databases
*.log
bot.log
*.sqlite3
*.sqlite
users.json

# Tool caches
.pytest_cache/
.ruff_cache/
